<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizAuthorityMapper">
    
    <resultMap type="BizAuthority" id="BizAuthorityResult">
        <result property="keyId"    column="key_id"    />
        <result property="authorityKey"    column="authority_key"    />
        <result property="purpose"    column="purpose"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizAuthorityVo">
        select key_id, authority_key, purpose, status, del_flag, create_by, create_time, update_by, update_time, remark from biz_authority
    </sql>

    <select id="selectBizAuthorityList" parameterType="BizAuthority" resultMap="BizAuthorityResult">
        <include refid="selectBizAuthorityVo"/>
        <where>  
            <if test="authorityKey != null  and authorityKey != ''"> and authority_key = #{authorityKey}</if>
            <if test="purpose != null  and purpose != ''"> and purpose = #{purpose}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBizAuthorityById" parameterType="Long" resultMap="BizAuthorityResult">
        <include refid="selectBizAuthorityVo"/>
        where key_id = #{keyId}
    </select>
    <select id="selectBizAuthorityByCreater" parameterType="String" resultMap="BizAuthorityResult">
        <include refid="selectBizAuthorityVo"/>
        where createBy = #{createBy}
    </select>

    <insert id="insertBizAuthority" parameterType="BizAuthority" useGeneratedKeys="true" keyProperty="keyId">
        insert into biz_authority
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authorityKey != null and authorityKey != ''">authority_key,</if>
            <if test="purpose != null">purpose,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authorityKey != null and authorityKey != ''">#{authorityKey},</if>
            <if test="purpose != null">#{purpose},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizAuthority" parameterType="BizAuthority">
        update biz_authority
        <trim prefix="SET" suffixOverrides=",">
            <if test="authorityKey != null and authorityKey != ''">authority_key = #{authorityKey},</if>
            <if test="purpose != null">purpose = #{purpose},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where key_id = #{keyId}
    </update>

    <delete id="deleteBizAuthorityById" parameterType="Long">
        delete from biz_authority where key_id = #{keyId}
    </delete>

    <delete id="deleteBizAuthorityByIds" parameterType="String">
        delete from biz_authority where key_id in 
        <foreach item="keyId" collection="array" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </delete>
</mapper>